<?xml version="1.0"?>

<launch>
  <arg name="gui" default="true"/>
  <arg name="world_name" default="terrain"/>

  <!-- Robot pose -->
  <arg name="x"     default="0"/>
  <arg name="y"     default="0"/>
  <arg name="z"     default="0"/>
  <arg name="roll"  default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw"   default="0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="world_name" value="$(find phantomx_training)/worlds/terrain.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <param name="robot_description" command="cat $(find phantomx_description)/urdf/phantomx.urdf"/>

  <node name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find phantomx_description)/urdf/phantomx.urdf -urdf -model phantomx_training"
    output="screen" />

  <rosparam file="$(find phantomx_gazebo)/config/phantomx_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="phantomx" 
    args=" j_c1_lf_position_controller j_c1_rf_position_controller j_c1_lm_position_controller
           j_c1_rm_position_controller j_c1_lr_position_controller j_c1_rr_position_controller 
           j_thigh_lf_position_controller j_thigh_rf_position_controller j_thigh_lm_position_controller 
           j_thigh_rm_position_controller j_thigh_lr_position_controller j_thigh_rr_position_controller 
           j_tibia_lf_position_controller j_tibia_rf_position_controller j_tibia_lm_position_controller 
           j_tibia_rm_position_controller j_tibia_lr_position_controller j_tibia_rr_position_controller joint_state_controller"/> 

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/phantomx/joint_states" />
  </node>

  <!-- Robot controller -->
  <node pkg="phantomx_training" type="teacher_training.py" name="ROBOT_TRAINER" output="screen"/>

</launch>
